{
  "presets": [ 
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}